@model LStudies.App.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "New Product";
}

<h3 style="padding-top: 50px">@ViewData["Title"]</h3>
<hr />

<div class="row">
    <div class="col-md-10">
        <form enctype="multipart/form-data" asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProviderId" class="control-label"></label>
                <select asp-for="ProviderId" class="form-control" asp-items="@(new SelectList(Model.Providers, "Id", "Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageUpload" class="control-label"></label>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ImageUpload" asp-for="ImageUpload" />
                    <label data-browse="Search" style="width: 400px" class="custom-file-label" for="ImageUpload"></label>
                    <label style="display: none" id="img_name"></label>
                </div>

                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#ImageUpload").change(function () {
            $("#img_name").text(this.files[0].name); //get file name and set it to the span tag
            $("#img_name")[0].style.display = 'block';
        })

        $("#ImageUpload").attr("data-val", "true"); //validation 
        $("#ImageUpload").attr("data-val-required", "Provide an Image")
    </script>
}
